.sidebar{
    width: 100%;
    height: auto;
    padding: 10px;
}
.menu li{
    margin-top: 20px;
}
.menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.menu li a:hover{
    color: #7ab259;
    text-decoration: none;
}
.sidebar img{
    cursor: pointer;
}