.service-card{
    border: none;
    cursor: pointer;
}
.service-card:hover{
    box-shadow: 0PX 0PX 10PX gray;
}
.service-image{
    width: 100px;
    height: 100px;
}
.service-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}