.text-color{
  color: #7ab259;
}
.background-color{
  background-color: #fbd062;
}
.button-style{
  color: white;
  background-color: #111430;
  padding: 5px 15px 5px 15px;
  border: none;
  border-radius: 5px;
}
.button-style:hover{
  background-color: #161a3b;
}
.dashboard-style{
  width: 100%;
  height: auto;
  padding: 20px;
}
.container-style{
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #f4f7fc;
}